/* Form */
.signup-title {
    font-size: 30px !important;
    font-weight: bold;
}

.app h2 {
    font-size: 30px !important;
}

/* button.ant-btn #submit__btn {
    width: 160px !important;
    height: 50px !important;
    padding: 5% !important;
    margin: 5% !important;
}
 */
