/* Imports */
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

/* Generals */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html {
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #242424;
  background-color: #fafaf6;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

::-moz-selection {
  background: #f5cf68 !important;
  color: #242424 !important;
}

::selection {
  background: #f5cf68 !important;
  color: #242424 !important;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Inputs */
input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

/* Tables */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #fafaf6;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #fafaf6;
}

/* Landing */
.landing__select__header {
  font-weight: 500;
  font-size: 1.2rem;
}

.ant-collapse-content-box span {
  font-weight: 300;
  font-size: 15px;
}

.ant-collapse-content-box span:hover,
.ant-collapse-content-box span:focus {
  color: #435dd2;
}

/* Search */
.search-filter {
  margin-right: 2%;
}

/* Upload */
.upload__title {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 7% 0;
}

/* Landing */
.landing__image {
  width: 100vw;
  z-index: -999;
}

/* Cart */
.ant-badge-count {
  margin-top: 5px;
  margin-right: 15px;
}

/* Mobile Device */
@media (max-width: 767px) {
  .ant-badge-count {
    margin-top: 10px;
    margin-right: 5px;
  }
}