/* Imports */
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,800&display=swap');

/* Generals */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  line-height: 1.5;
  color: #24292e;
  background-color: #fff;
}

.app {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Inputs */
input.error {
  border-color: red;
}


.input-feedback {
  color: red;
  height: 5px;
  margin-top: -12px;
}

/* Tables */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Landing */
.landing__select__header {
  font-weight: 500;
  font-size: 1.2rem;
}

.ant-collapse-content-box span {
  font-weight: 300;
  font-size: 15px;
}

.ant-collapse-content-box span:hover,
.ant-collapse-content-box span:focus {
  color: #0275d8;
}

/* Search */
.search-filter {
  margin-right: 2%;
}

/* Upload */
.upload__title {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 7% 0;
}