.landing__title {
    font-size: 2.2rem;
    text-transform: uppercase;
    font-weight: bold;
    margin: 7% 0;
}

.landing__subtitle {
    font-size: 1rem;
    font-weight: 300;
}

.landing__select {
    position: absolute;
    padding: 0 2.7% !important;
}